@font-face {
    font-family: 'Roboto';
    src: url(./assets/fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

:root {
    --main-color: #ff8000;
    --nav-bg-color: #F7F6F1;
    --text-color-generally: #DC8136;
    --text-color-evaluation: #ff8000d3;
    --product-hover-color: #FEE5CB;
    --responsive-basket-btn: #0069da;
    --responsive-basket-btn-hover: #074f9c;
    --order-btn: #ff8000;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto';
}

html {
  scroll-behavior: smooth;
}

h1 {
    font-size: 32px;
    margin: 20px 0;
    width: 40%;
}

h3 {
    margin: 10px 0;
    padding: 0 25px;
}

h4 {
    margin: 16px 0;
}

h5 {
    margin: 12px 0;
    font-size: 16px;
}

.container {
    padding: 0 30px;
}

.d_none {
    display: none;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.grey-text {
    color: grey;
}

.text-color-evaluation {
    color: var(--text-color-evaluation);
}

/* Header */
header {
    background-color: var(--main-color);
    padding: 15px 0;
}

header img{
    width: 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-burger_menu {
    display: flex;
    flex-direction: column;
    gap: 3px
}

.header-burger_menu-div {
    width: 30px;
    height: 5px;
    background-color: white;
}

/* Main */
main {
    display: flex;
}

.main-content {
    flex: 1;
    position: relative;
}

.main-content > img:first-child{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.main-content > img:nth-child(2){
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 140px;
    object-fit: cover;
    border: 1px solid gray
}

.main_products_structure{
    margin: 12px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main-content-categorie_img img{
    width: 100%;
    height: 110px;
    object-fit: cover;
    object-position: 50% 17%;
}

.main-content-categories {
    background-color: var(--nav-bg-color);
    position: relative;   
    display: flex;
    gap: 15px;
    margin: 10px 0;
}

.main-content-categories ul{
    display: flex;
    gap: 10px;
}

.main-content-categories ul{
    list-style: none;
    padding: 0;
}

.main-content-categories a{
    text-decoration: none;
    color: gray;
    font-weight: bold;
}

.main-content-categories a:hover{
    color: rgb(76, 72, 72);
    cursor: pointer;
}

.main-content-categories img {
    width: 30px;
}

.main-content-categorie_item {
    border: 1px solid lightgray;
    padding: 0 16px;
    position: relative;
}

.main-content-categorie_item:hover {
    background-color: var(--product-hover-color);
    cursor: pointer;
}

.main-content-categorie_item p:nth-of-type(1) {
    margin: 10px 0;
}

.main-content-categorie_item p:nth-of-type(2) {
    color: var(--main-color);
    margin: 10px 0;
}

.main-content-categorie_item img{
    width: 24px;
    height: 24px;
}

.main-content-categorie_plus {
    border: 1px solid lightgray;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
}

.main-basket {
    width: 300px;
    padding: 12px;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.main-basket_responsive {
    width: 100%;
    padding: 12px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    height: 100vh;
    overflow: scroll;
}

.main-basket h2{
    text-align: center;
    margin: 15px 0;
}

.main-basket-content{
    position: sticky;
    top: 10px;
}

.main-basket-content-separator{
    background-color: lightgray;
    height: 1.5px;
    margin: 15px 0 10px;
}

.main-basket-placeholder_for_items {
    color: gray;
    margin-top: clamp(10px, 10vh, 80px);
}

.main-basket-placeholder_for_items img {
    width: 50px;
    margin: 0 auto;
    display: block;
}

.main-basket-items-structure {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.main-basket-items-structure div img {
    width: 20px;
    height: 20px;
}

.main-basket-items-structure div {
    border: 3px solid transparent;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.main-basket-items-structure div:hover {
    border: 3px solid var(--main-color);
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.main-basket-items-structure p {
    margin: 0 0;
}

.main-basket-payment-amounts{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main-basket-order_btn {
    background-color: var(--order-btn);
    width: 100%;
    border: none;
    padding: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.2s ease;
    margin-top: 16px;
}

.main-basket-order_btn:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.main-basket-order_btn:disabled {
    cursor: default;
    opacity: 0.5;
    transform: none;
}

.main-order_notification {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    height: 100vh;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
}

.main-order_notification-btn {
    background-color: var(--order-btn);
    border: none;
    color: white;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    transition: all 0.2s ease;
}

.main-order_notification-btn:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.main-order_notification-content {
    background-color: rgb(79, 79, 79);
    padding: 40px;
    border-radius: 8px;
}

.main-content-responsive_basket_btn {
    background-color: var(--responsive-basket-btn);
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 16px;
    border: none;
    width: 100%;
    bottom: 0;
    left: 0;
    transition: all 0.2s ease;
}

.main-content-responsive_basket_btn:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.main-content-responsive_basket {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 12px;
    display: none;
}

#main-basket-items {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Footer */
footer {
    background-color: var(--main-color);
    padding: 24px 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px
}

.footer > img{
    width: 100px;
}

.footer-git_info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-git_info a{
    color: white;
    text-decoration: none;
}

.footer-git_info img{
    width: 40px;
}

@media (max-width: 760px) {
    h1 {
        margin-top: 60px;
    }
}

@media (max-width: 655px) {
    .main-basket {
        display: none;
    }

    .main-content-categories ul {
        flex-direction: column;
    }

    .container {
        padding: 0 15px;
    }

    footer {
        padding-bottom: 100px;
    }

    .main-content-responsive_basket {
        display: block;
    }
}